/* default is for mobile devices */

.card_container {
  flex-wrap: wrap;
  min-height: 70vh;
  justify-content: space-evenly;

  .cards {
    display: flex;
    margin: 1rem;
    border: 1px solid;
    height: 15rem;
    width: 15rem;
    box-shadow: 6px 9px 1px 0px;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 1.25rem;
    font-weight: 300;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
  }

  .cards:hover {
    scale: 1.05;
    box-shadow: 0px 0px 0px 4px;
  }
}

